/*h1 {
  font-family: Helvetica, sans-serif;
}

.jumbotron {
  color: #eef;
  background: #333;
}

.btn-primary {
  color: #fff !important;
}

.btn {
  color: inherit;
}

.tex-center {
  text-align: center;
}

.icon-lg {
  font-size: 6rem;
}*/
